body {
    margin: 2%;
}

.img {
    background-image: url(image/banner3.jpg);
    width: 100%;
    height: 400px;

}

.img h1 {
    padding-left: 10px;
    text-decoration: solid;

}

.img p {
    width: 150px;
    padding-left: 10px;
    padding-bottom: 50px;
    color: aliceblue;
    font-weight: 500;
}

.img a {
    /* padding-left: 10px;
    padding-bottom: 10px; */
    padding: 10px 15px;
    text-decoration: none;
    background-image: linear-gradient(gray, skyblue);
    border-radius: 5px;
    margin-left: 10px;
    font-style: normal;
    font-weight: 800;
    box-shadow: 5px 5px;
    border: 1px solid;


}

.img a:hover {
    color: hotpink;
}

.centered {
    display: flex;
}

.centered img {
    margin: 2%;
    margin-top: 30px;
    height: 100%;
    width: 100%;
}

.text-style {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
    height: 100%;
    width: 50%;
}



.head1 {
    margin-top: 10%;
    /* margin-left: 50%; */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.symbol-container {
    display: flex;
    margin-top: 5%;

}

.symbol-img1 {
    text-align: center;

}

.symbol-img2 {
    text-align: center;
    margin-top: 5%;
    margin-left: 10%;


}

.symbol-img3 {
    text-align: center;
    margin-left: 5%;
    margin-top: 5%;
}


.name1 {}

.name2 {
    margin-top: 25%;
}

.name3 {
    margin-top: 30%;
}

/* .last-container {
    text-align: center;
    margin-top: 40px;

} */
.container {}

.last-banner {
    text-align: right;
    margin-top: 50px;
    background-image: linear-gradient(45deg,
            rgba(245, 70, 66, 0.75),
            rgba(8, 83, 156, 0.75)), url(image/3.webp);
    padding: 10px;
    background-image: linear-gradient(hotpink, );
    margin: 100px;


}

.last-banner a {
    text-decoration: none;
    background-image: linear-gradient(red, orange);
    margin: 10px;
    font-weight: 800;
    padding: 8px 12px;
    border-radius: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.last-banner a:hover {
    color: coral;
}

.info-added {
    display: flex;
    background-image: url(image/black-background.htm);
    padding: 20px 20px;

}

.info-added h4 {
    padding-right: 30%;
}

.info-added a {
    background-image: linear-gradient(pink, tomato);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 800;
}